<h1>User Profile</h1>

<h4>Username: {{theUser.username}}</h4>
<h4>Password: {{theUser.password}}</h4>

<h4>Want to change your password?
  <a href="/change-password">click here</a>
</h4>

<h5>Liked Movies:</h5>
<div class="movies">

  {{#each theUser.likedMovies}}
    <li><img src="{{image}}" />
      <h2>{{title}}</h2>
      <a href="/movies/details/{{id}}"><h4>See Details</h4></a></li>
  {{/each}}

</div>