<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav class="page__menu page__custom-settings menu">
      <ul class="menu__list r-list">
        <li class="menu__group"><a
            class="menu__link r-link text-underlined"
            href="/">Home</a></li>
        {{!-- <li class="menu__group"><a
            class="menu__link r-link text-underlined"
            href="/celebrities/create">Create Celebrity</a></li>
        <li class="menu__group"><a
            class="menu__link r-link text-underlined"
            href="/celebrities/celebrities">All Celebrities</a>
            </li> --}}
        <li class="menu__group"><a
            class="menu__link r-link text-underlined"
                 <a href="/movies/create">Create Movie</a>

            </li>
        <li class="menu__group"><a
            class="menu__link r-link text-underlined"
            
                   href="/movies/movies">All Movies</a>

            </li>


      {{#if theUser}}

     
        <li class="menu__group"><a
            class="menu__link r-link text-underlined"
            href="/profile">User Profile</a>
            </li>

        <form action="/logout"  method="post">
          <button id="logout" class="menu__link r-link text-underlined">Logout</button>
        </form>

      {{else}}
   <li class="menu__group"><a
            class="menu__link r-link text-underlined"
            href="/signup">Sign Up</a>
            </li>

        <li class="menu__group"><a
            class="menu__link r-link text-underlined"
            href="/login">Login</a>
            </li>

      {{/if}}


        
    </nav>

    {{#if errorMessage}}
    <div class="error-div">
        {{errorMessage}}
    </div>
    {{/if}}
    
    {{#if successMessage}}
    <div class="success-div">
        {{successMessage}}
    </div>
    {{/if}}
    <br>
    <br><br>

    
    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/movies.js"></script>
<link rel="stylesheet" href="/stylesheets/new-movie.css" />
  </body>

</html>