<h3>Modify Cast</h3>

<form action="/movies/update/{{movieID}}" method="post">

  <label for="cast">Choose Cast:

    {{#each myCelebrities}}
      <br />
      <div>

        <input type="checkbox" value={{id}} name="cast" checked="checked" />

        {{name}}
        -
        {{occupation}}

      </div>
      <br />
      <hr />
    {{/each}}

    <h4>not in cast</h4>
    {{#each otherCelebrities}}
      <br />
      <div>

        <input type="checkbox" value={{id}} name="cast" />

        {{name}}
        -
        {{occupation}}

      </div>
      <br />
      <hr />
    {{/each}}
  </label>
  <button>Confirm</button>

</form>