<img class="thumbnail" src={{movie.image}} />
<br />
<br />
<br />
<h2>{{movie.title}} - Details - Likes: {{likesCount}}</h2>
<h4>Genre: {{movie.genre}}</h4>
<h4>Plot: {{movie.plot}}</h4>
<br />
<h4>Cast</h4>
{{#each movie.cast}}
  <h5>Actor: {{this.name}}</h5>
  <h5>Occupation: {{this.occupation}}</h5>
  <h5>Catch Phrase: {{this.catchPhrase}}</h5>
  <h5>--------------------------------------------------</h5>
{{/each}}

<form action="/movies/{{movie.id}}/delete" method="post">

  <button>Delete Movie</button>
  {{! buttons in forms will auto sync to the form and when clicked will submit the data from the form using the endpoint (action) and the method (method) that is defined in the form parameters at the top }}
</form>

<form action="/movies/{{movie.id}}/edit" method="get">

  <button>Edit Movie</button>
  {{! buttons in forms will auto sync to the form and when clicked will submit the data from the form using the endpoint (action) and the method (method) that is defined in the form parameters at the top }}
</form>
<br /><br />

{{#if liked}}

  <form action="/{{movie.id}}/unlikeMovie" method="post">

    <button>Unlike Movie</button>
    {{! buttons in forms will auto sync to the form and when clicked will submit the data from the form using the endpoint (action) and the method (method) that is defined in the form parameters at the top }}
  </form>

{{else}}

  <form action="/{{movie.id}}/likeMovie" method="post">

    <button>Like Movie</button>
    {{! buttons in forms will auto sync to the form and when clicked will submit the data from the form using the endpoint (action) and the method (method) that is defined in the form parameters at the top }}
  </form>

{{/if}}