<h2>New Movie</h2>

{{! the action portion of the form is what determines the route that you will be calling when you submit the form }}
{{!-- <form action="/movies/create" method="post">
  {{! the method of the form is what determines the request type that is being made (get/post) }}

  <label for="movie-name-input">
    Movie Title:
    <input
      id="movie-name-input"
      type="text"
      placeholder="Top Gun"
      name="title"
    />
  </label>

  <label>
    Genre:
    <input type="text" name="genre" />
  </label>

  <label>
    Plot:
    <input type="text" name="plot" />
  </label>

  <label>
    Image Link:
    <input type="text" name="image" />
  </label>
  <br />

  <label for="cast">Choose Cast:

    {{#each allCelebrities}}
      <div>

        <input type="checkbox" value={{id}} name="cast" />

        {{name}}
        -
        {{occupation}}

      </div>
      <hr />
    {{/each}}

    {{#each otherCelebrities}}
      <div>

        <input type="checkbox" value={{id}} name="cast" />

        {{name}}
        -
        {{occupation}}

      </div>
      <hr />
    {{/each}}
  </label>
  <br />
  <button>Create</button>
  {{! buttons in forms will auto sync to the form and when clicked will submit the data from the form using the endpoint (action) and the method (method) that is defined in the form parameters at the top }}
</form> --}}

<input type="text" id="query" />
<button id="searchButton">Search Movies</button>

<div class="movies"></div>